
/****************************** General ***********************************/

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;
    
}


/*************************** NavBar**********************************/

.nav-bar
{
    height:50px;
    width:100%;
    background: black;
    font-family: 'Sen', sans-serif;

}

.nav-bar .navbar-container
{
    display:flex;
    align-items: center;
    padding:0 50px;
    height:100%;
    color:#fff;

}

.nav-bar .navbar-container .logo
{
    flex: 1;
    

}

.nav-bar .navbar-container .logo h1 
{
    font-size: 26px;
    color: #4dbf00;
    cursor: pointer;
}

.nav-bar .navbar-container .logo h1 span 
{
    font-size: 36px;
    color: #4daf00;
}

.nav-bar .navbar-container .menu
{
    flex: 3;

}

.nav-bar .navbar-container .menu ul
{
    list-style: none;
    display: flex;
}

.nav-bar .navbar-container .menu ul li 
{
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
}

.nav-bar .navbar-container .menu ul li:hover,
.nav-bar .navbar-container .menu ul li.active,
.nav-bar .navbar-container .menu-bar .toggle-menu ul li:hover,
.nav-bar .navbar-container .menu-bar .toggle-menu ul li.active
{
    font-weight: bold;
}

.nav-bar .navbar-container .menu-bar
{
    display: none;

}

.nav-bar .navbar-container .menu-bar i
{
    font-size: 30px;
    cursor: pointer;

}

.nav-bar .navbar-container .menu-bar .toggle-menu
{
    position: relative;
    display: none;
    
}

.nav-bar .navbar-container .menu-bar .toggle-menu.open
{
    
    display: block;

    
}

.nav-bar .navbar-container .menu-bar .toggle-menu ul
{
    list-style: none;
    background: #151515;
    color:#f5f5f5;
    padding: 10px 30px;
    border-radius:  0 0 6px 6px;
    position: absolute;
    top:10px;
    left: -75px;
    border: 1px solid #4dbf00;

}

.nav-bar .navbar-container .menu-bar .toggle-menu ul li
{
    font-size: 20px;
    cursor: pointer;
    margin: 25px;
    text-align: center;
}



.nav-bar .navbar-container .profile
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar .navbar-container .profile img
{
    width:36px;
    height:36px;
    border-radius:50%;
    object-fit: cover;
}

.nav-bar .navbar-container .profile .text
{
    margin:0 10px;
}

.nav-bar .navbar-container .profile .toggle
{
    background: #fff;
    width:40px;
    height:20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}



.nav-bar .navbar-container .profile .toggle i.fa-sun
{
    color:rgb(255, 114, 62) ;
}

.nav-bar .navbar-container .profile .toggle i.fa-moon
{
    color:rgb(221, 221, 221) ;
}


.nav-bar .navbar-container .profile .toggle .toggle-ball
{
    position: absolute;
    width:18px;
    height:18px;
    border-radius: 50%;
    background: rgb(44, 44, 44);
    cursor: pointer;
    right: 1px ;
    transition: all ease-in-out 400ms ;
}

@media(max-width:991px){

    .nav-bar .navbar-container .menu{
        display: none;
    }

    .nav-bar .navbar-container .menu-bar{
        display: block;
    }

}

/**************************** SideBar**********************************/

.side-bar
{
    width:50px;
    height:100%;
    background: black;
    color:#fff;
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
    
}

.side-bar i 
{
    font-size: 23px;
    margin-bottom: 40px;
    cursor: pointer;
}


/***************************************************************************/

.container
{
    background-color:#151515;
    color:#fff;
    min-height:calc(100vh - 50px);
}

.container .content-container
{
    margin-left: 50px;
}

/***************************************************************************/


.featured-content
{
    height: 55vh;
    padding:40px;
    margin-bottom: 40px;

}

.featured-content img
{
    width: 200px;
}

.featured-content p
{
    color:rgb(177, 177, 177);
    margin: 30px 0;
    width:500px;
    line-height: 1.5;
}

.featured-content button
{
    background: #4dbf00;
    font-weight: bold;
    padding:10px 15px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;

}


/***************************************************************************/

.movie-container
{
    padding:5px 40px;


    
}

.movie-container h2
{
    margin: 10px 0;
}

.movie-container .wrapper
{
    position: relative;
    overflow: hidden;
}

.movie-container .movie-list
{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0px);
    transition: all ease-in-out 700ms;
    

}

.movie-container .movie-list .movie 
{
    margin-right: 30px;
    position: relative;

}

.movie-container .movie img
{
    width:270px;
    height: 200px;
    object-fit: cover;
    transition: all ease-in-out 700ms;
    border-radius: 5px;
}

.movie-container .movie-list .movie:hover img
{
    transform: scale(1.2);
    margin: 0 10px;
    opacity: 0.5;

}

.movie-container .movie-list .movie:hover span,
.movie-container .movie-list .movie:hover p,
.movie-container .movie-list .movie:hover button
{
    opacity: 1;
}

.movie-container .movie span
{
    font-size: 28px;
    font-weight: bold;
    padding:6px 10px;
    border-radius: 3px;
    background: rgba(51, 51, 51, 0.60);
    color:#fff;
    position: absolute;
    top:5%;
    left:6%;
    transition: all ease-in-out 700ms;
    opacity: 0;
}

.movie-container .movie p
{
    font-size: 14px;
    padding:10px;
    border-radius: 3px;
    background: rgba(51, 51, 51, 0.60);
    color:#fff;
    position: absolute;
    top:30%;
    left:6%;
    width: 256px;
    transition: all ease-in-out 700ms;
    opacity: 0;
}

.movie-container .movie button
{
    background: #4dbf00;
    font-weight: bold;
    padding:8px 12px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top:84%;
    left:6%;
    transition: all ease-in-out 700ms;
    opacity: 0;
}

.movie-container .wrapper i
{
    font-size: 120px;
    color:rgba(204, 204, 204, 0.4) ;
    position: absolute;
    cursor: pointer;
    transition: all ease-in-out 700ms;
    top:90px;


}

.movie-container .wrapper i:hover
{
    color:rgba(204, 204, 204, 0.8) ;

}

.movie-container .wrapper i.arrow-rt
{
    right:5px;
}

.movie-container .wrapper i.arrow-left
{
    left:5px;
    display: none;
}

/*********************************  Footer ******************************************/


.footer
{
    background: black;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}

.footer i 
{
    font-size: 22px;
    color:#4dbf00;
}

.footer a 
{
    text-decoration: none;
    font-weight: bold;
    color:#4dbf00;
}



/*******************************  Light Mode *************************************/

.nav-bar .navbar-container.light
{
    background:#e5e5e5 ;
    color:#151515;
}

.nav-bar .navbar-container .profile .toggle.light
{
    background: #424242;
}

.nav-bar .navbar-container .profile .toggle .toggle-ball.light
{
    background: #f5f5f5;
    transform: translateX(-20px);
}

.side-bar.light
{
    background: #e5e5e5;
    color: #151515;
}

.container.light
{
    background-color:#f5f5f5;
    color:#151515;
    
}

.nav-bar .navbar-container .menu-bar .toggle-menu ul.light
{
    background-color:#f5f5f5;
    color:#151515;
    
}

.footer.light
{
    background: #e5e5e5;
    color: #151515;
}

/***************************************************************************/










































